@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
  --bkg-clr:#2f4858;
  --dashed: rgba(45 68 105 / 100%);

  --red-clr: #c35353;
  --red-clr-hover: #d14747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e7ea;
}


/* List & Remove */

li{
  
}
.remove-btn {
  padding: 5px 5px;
  border: 1px solid #dd3c3c;
  color: #F6F7F9;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.25s ease, background-color 0.4s ease;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.remove-btn{
  background-color: var(--red-clr-hover);
}

/* Drag in area */
.drag-area{
    border: 2px dashed var(--bkg-clr);
    height: 500px;
    width: 700px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active{
    border: 2px dashed #ff9900;
}

.drag-area .icon{
    font-size: 4rem;
    color: #ff9900;
}

.drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #000657;
}

.drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #000657;
    margin: 10px 0 15px 0;
}
.drag-area .btn{
    padding: 10px 25px;
    border: none;
    background: rgba(45 68 105 / 100%);
    color: #F6F7F9;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.drag-area .btn:hover, .btn:hover{
    background-color:#1c2c62;
    transform: translate3d(0px,-1px,0px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.btn:focus {
    outline: 2px dashed #ff9900;
      
}
.drag-area img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
}


.btn {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    background: rgba(45 68 105 / 100%);
    color: #F6F7F9;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn:disabled{
    cursor: not-allowed;
    background-color: #e0e0e0;
    border: 1px dashed #292929;
}

.continue-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Modal Styles */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }



.modal-box {
    /* display: flex;
    flex-direction: column; */
    margin: 70px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 4s ease-in-out;
    z-index: 10;
  }
  
  .modal-box h2 {
    margin-bottom: 5px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
  }
  
  .modal-box .close{
    color: rgba(45 68 105 / 100%);
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .modal-box .close:hover {
    color: #ff9900;
    cursor: pointer;
  }
  
  .modal-box .content {
    overflow: auto;
    padding: 30px 30px;
    text-align: center;
    font-size: 1.2rem;
  }

.modal-box .navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}  
  .modal-box .btn-sm {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border: none;
    background: rgba(45 68 105 / 100%);
    color: #F6F7F9;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.25s ease, background-color 0.4s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }
.btn-sm:hover{
    background-color:#1c2c62;
    transform: translate3d(0px,-1px,0px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.btn-sm:focus {
  outline: 2px dashed #ff9900;
}

#upload-s3:hover{
  background-color: #ff9900;
}

#backBtn, .remove-btn{
  background-color: var(--red-clr);
  border: 1px solid #dd3c3c;
}

#backBtn:hover, .remove-btn:hover{
  background-color: #d14747;
}
  
  @media screen and (max-width: 700px){
    .modal-box{
      width: 70%;
  }
  

  /* Animation  */

  .fadeIn {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeOut{
      animation: fadeOut 3s;
  }

  @keyframes fadeOut{
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }